* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px dotted red; */
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(35deg,purple,black);
  color: white;
  height: 5vh;
  align-items: center;
}

nav ul li {
  display: inline;
  margin: auto;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.apps {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

:root {
  --header-footer-background-color: #404040;
  --lightskyblue: lightskyblue;
  --lightgray: lightgray;
  --about-me-work-border: #333366;
  --rgba-border-color-opacity: rgba(135, 206, 250, 0.8);
}

.row {
  display: flex;
  margin: 30px auto;
}

.col1 {
  width: 20%;
  border-right: 4px solid black;
  margin-right: 20px;
}

.col2 {
  width: 65%;
}

.app {
  position: relative;
  margin: 10px;
  width: 47%;
}

.app img {
  width: 100%;
}

.app:first-child {
  width: 100%;
}
.app:first-child img {
  width: 100%;
  height: 40vh;
}

.app .description {
  background: white;
  padding: 5px;
  border: 2px solid black;
  margin-left: 10px;
  position: absolute;
  top: 50%;
}

.contacts {
  display: flex;
  justify-content: space-around;
}

.contacts img {
  width: 50px;
}

html {
  scroll-behavior: smooth;
}


header {
  height: 20vh;
  background-image: url('https://wallpaperaccess.com/full/172520.jpg');
  background-position: center;
  background-size: 100% 150%;
}

